[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycookiecheat = "*"
requests = "*"
pycrypto = "*"
browsercookie = "*"
"pywin32" = "*"
google-api-python-client = "*"
"oauth2client" = "*"
gspread = "*"
"autopep8" = "*"

[dev-packages]

[requires]
python_version = "3.7"
