[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google-api-python-client = "*"
"oauth2client" = "*"
gspread = "*"
"autopep8" = "*"
"bs4" = "*"
"html5lib" = "*"
python-dateutil = "*"
pytz = "*"
nba-api = "*"
browsercookie = {path = "/home/pi/Downloads/richardpenman-browsercookie-aab350c45967"}
selenium = "*"

[dev-packages]
